repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.15.1
    hooks:
      # Run the linter.
      - id: ruff-check
        args: [ --fix ]
        files: src/.*
      - id: ruff-format
        files: src/.*
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.19.1
    hooks:
      - id: mypy
        name: mypy src
        files: src/.*
        additional_dependencies:
          - types-requests
          - types-python-dateutil
          - types-pytz

